@media (max-width:900px) { 
    .contact h2 {
        font-size: 2rem;
    }
    .container2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 95%;
        margin: 80px auto;
    }
    .img-container {
        position: absolute;
        opacity: 0.89;
        z-index: 1;
        margin: 20% 10%;
        width: 70%;
    }
    .form-container {
        width: 100%;
        z-index: 99;
    }
    .form input,.form textarea {
        border-radius: 15px;
        color: #fff;
        margin: 0 0 8px 0;
        padding: 9px 13px;
        font-weight: 500;
        font-size: 1rem;
        letter-spacing: 0.6px;
        transition: 0.3s ease-in-out;
    }
    .contact form input::placeholder, .contact form textarea::placeholder {
        font-size: 1rem;
        font-weight: 400;
        color: #fff;
    }
    .contact form button {
        width: 40%;
        font-weight: 700;
        color: #000;
        background-color: #fff;
        padding: 14px 48px;
        font-size: 1rem;    
        margin-top: 15px;
        border-radius: 0;
        position: relative;
        transition: 0.3s ease-in-out;
    }
}
