.proj-imgbx {
    display: flex;
    width: 95%;
    height: 95%;
    margin: auto;
    /* width: 30%; */
    /* position: relative; */
    border-radius: 20px;
    overflow: hidden;
    /* margin-bottom: 24px; */
}

.proj-imgbx img {
    height: 100%;
}

.proj-imgbx::before {
    content: "";
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.75;
    position: absolute;
    width: 95%;
    height: 0;
    transition: 0.4s ease-in-out;
    border-radius: 20px;
}

.proj-imgbx:hover::before {
    height: 95%;
}

.proj-txtx {
    color: #bbc;
    position: absolute;
    text-align: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in-out;
    opacity: 0;
    width: 100%;
  }
  .proj-imgbx:hover .proj-txtx {
    top: 50%;
    opacity: 1;
  }
  .proj-txtx h4 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1.1em;
  }
  .proj-txtx span {
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.8px;
  }